div {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  color: black;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: yellow;
}

.box3 {
  background-color: green;
}